.background_color {
    -fx-background-color: rgb(0,0,0);
}

.tabs_buttons {
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: rgba(179, 179, 179);
    -fx-stroke: rgba(179, 179, 179);
}

.tabs_buttons:hover {
    -fx-text-fill: rgba(225, 225, 225);
    -fx-stroke: rgba(225, 225, 225);
    -fx-cursor: hand;
}

.tabs_buttons:focused {
    -fx-text-fill: rgba(255, 255, 255);
    -fx-stroke: rgba(255, 255, 255);
}

.tabs_background {
    -fx-background-color: rgb(18,18,18);
    -fx-background-radius: 10px;
}

/* Plus og next ikon ved playlister */
.button_library:pressed {
    -fx-text-fill: rgb(111, 111, 111);
    -fx-stroke: rgb(111, 111, 111);
}

.button-playlist-more {
    -icon-paint: rgb(179, 179, 179);
    -fx-background-color: -icon-paint;
    -size: 16;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8";
}

.button-playlist-more:hover {
    -fx-background-color: rgb(225, 225, 225);
    -fx-cursor: hand;
}


/* ---------------------------------------------- */

/* Playlister og album knap */
.playlists_album {
    -fx-background-color: rgb(35,35,35);
    -fx-text-fill: rgba(232, 232, 232);
    -fx-background-radius: 20px;
}

.playlists_album:hover {
    -fx-background-color: rgb(42, 41, 42);
    -fx-cursor: hand;
}

.playlists_album:pressed {
    -fx-background-color: rgb(27, 27, 27);
    -fx-cursor: hand;
}

/* ---------------------------------------------- */
.search_playlist {
    -fx-background-color: transparent;
    -fx-prompt-text-fill: transparent;;
}

.search_song {
    -fx-background-color: rgb(83,83,83);
    -fx-prompt-text-fill: rgb(179,179,179);
}

.search_playlist:hover {
    -fx-prompt-text-fill: rgba(179, 179, 179, 255);
    -fx-background-color: rgba(42, 41, 42, 0.2);
}

.search_playlist:focused {
    -fx-text-fill: rgba(179, 179, 179);
    -fx-background-color: rgb(42, 41, 42);
    -fx-prompt-text-fill: rgba(179, 179, 179, 255);
}

.playlist_vbox {
    -fx-background-color: rgb(18,18,18);
}

.libraries_vbox {
    -fx-background-color: rgb(18,18,18);
    -fx-background-radius: 10 10 0 0;
}

.scroll-pane_playlists {
    -fx-background-color: transparent;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.scroll-pane_search {
    -fx-background-color: transparent;
}

.scroll-pane_playlists > .viewport{
    -fx-background-color: transparent;
}
.scroll-pane_search > .viewport{
    -fx-background-color: transparent;
}

.scroll-bar:vertical:hover {
    -fx-background-color: rgb(137, 137, 137);
}

.scroll-bar:vertical {
    -fx-background-color: rgb(90, 90, 90);
    -fx-pref-width: 16.5;
    -fx-padding: 3;
}

.scroll-bar:horizontal {
    -fx-background-color: rgb(90, 90, 90);
    -fx-pref-height: 16.5;
    -fx-padding: 3;
}

.scroll-bar:horizontal > .increment-button,
.scroll-bar:horizontal > .decrement-button {
    -fx-background-insets: 0 0 0 0 , 0 0 0 0, 0 0 0 0, 0 0 0 0 0;
}
.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 0 0 0 0;
}
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-padding: 0 0 0 0;
}
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0 0 0 0;
}
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 0 0 0 0;
}
.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-padding: 0 0 0 0;
}
.text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

.test {
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

.button-plus {
    -icon-paint: rgb(179, 179, 179);
    -fx-background-color: -icon-paint;
    -size: 16;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4";
}

.button-plus:hover {
    -fx-background-color: rgb(225, 225, 225);
    -fx-cursor: hand;
}

.button-plus > .arrow-button {
    -fx-padding: 0;
}

.button-plus > .arrow-button > .arrow {
    -fx-padding: 0;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: rgb(40, 40, 40);
    -fx-padding: 3 3 3 3;
}

/* Hover i Context menu */
.menu-item {
    -fx-background: rgb(62, 62, 62) ;
}

.menu-item .label{
    -fx-font-size: 14.0 pt;
    -fx-font-weight: 500;
    -fx-text-fill: rgb(225, 225, 225);
}

.menu-item .label:hover{
    -fx-background-color: rgb(255, 0, 0);
}

/* Song import */
/* ---------------------------------------------- */
.import_background {
    -fx-background-color: rgb(18,18,18);
}

.textfield_import {
    -fx-prompt-text-fill: rgba(179, 179, 179, 255);
    -fx-background-color: rgba(42, 41, 42, 0.2);
    -fx-background-radius: 5px;
}

.textfield_import:hover {
    -fx-prompt-text-fill: rgba(179, 179, 179, 255);
    -fx-background-color: rgba(42, 41, 42, 0.2);
}

.textfield_import:focused {
    -fx-text-fill: rgba(179, 179, 179);
    -fx-background-color: rgb(42, 41, 42);
    -fx-prompt-text-fill: rgba(179, 179, 179, 255);
}

.import_category .list-cell
{
    -fx-background: rgba(42, 41, 42, 0.2);
    -fx-background-color: rgba(42, 41, 42, 0.2);
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.import_category .list-view
{
    -fx-background-color: rgb(42, 41, 42), rgba(42, 41, 42, 0.2);
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.import_category .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: rgba(42, 41, 42, 0.2);
}

.import_category .list-view .list-cell:filled:selected, .import_category .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.import_category .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

.import_category
{
    -fx-background-color: rgba(42, 41, 42, 0.2);
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.import_category:hover
{
    -fx-color: rgb(42, 41, 42);
}

.import_category:showing
{
    -fx-color: rgb(42, 41, 42);
}

.import_category:focused {
    -fx-background-color: rgba(42, 41, 42, 0.2);
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.import_category:disabled {
    -fx-opacity: .4;
}

.import_choose {
    -fx-background-color: rgba(42, 41, 42, 0.2);
    -fx-text-fill: rgba(179, 179, 179);
    -fx-stroke: rgba(179, 179, 179);
}

.import_choose:hover {
    -fx-background-color: rgb(42, 41, 42);
    -fx-cursor: hand;
}

.import_choose:focused {
    -fx-text-fill: rgba(255, 255, 255);
    -fx-stroke: rgba(255, 255, 255);
}

.import_import {
    -fx-background-color: rgb(252, 161, 15);
    -fx-text-fill: rgba(45, 45, 45);
}

.import_import:hover {
    -fx-background-color: rgba(252, 161, 15, 0.75);
    -fx-cursor: hand;
}

.import_search {
    -fx-background-color: rgba(42, 41, 42, 0.5);
    -fx-text-fill: rgba(179, 179, 179);
    -fx-stroke: rgba(179, 179, 179);
}

.import_search:hover {
    -fx-background-color: rgb(42, 41, 42);
    -fx-cursor: hand;
}

.import_search:focused {
    -fx-text-fill: rgba(255, 255, 255);
    -fx-stroke: rgba(255, 255, 255);
}

/* media player control */
.media_background {
    -fx-background-color: rgb(0,0,0);
}

.media_controls {
    -icon-paint: rgba(179, 179, 179);
    -fx-background-color: rgba(179, 179, 179);
    -size: 18;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
}

.media_controls:hover {
    -icon-paint: rgba(255, 255, 255);
    -fx-background-color: rgba(255, 255, 255);
}

.media_shuffle {
        -fx-shape: "M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5 M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z";
}

.media_shuffle:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;

    -fx-cursor: hand;
}

.media_left {
    -fx-shape: "M0 0 C0.99 0 1.98 0 3 0 C3.33 1.65 3.66 3.3 4 5 C7.3 3.35 10.6 1.7 14 0 C14 4.62 14 9.24 14 14 C10.7 12.35 7.4 10.7 4 9 C3.67 10.65 3.34 12.3 3 14 C2.01 14 1.02 14 0 14 C0 9.38 0 4.76 0 0 Z";
}

.media_left:hover {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.media_right {
    -fx-shape: "M0 0 C3.3 1.65 6.6 3.3 10 5 C10.33 3.35 10.66 1.7 11 0 C11.99 0 12.98 0 14 0 C14 4.62 14 9.24 14 14 C13.01 14 12.02 14 11 14 C10.67 12.35 10.34 10.7 10 9 C5.05 11.475 5.05 11.475 0 14 C0 9.38 0 4.76 0 0 Z";
}

.media_right:hover {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.media_play {
    -icon-paint: rgba(179, 179, 179);
    -fx-background-color: rgba(179, 179, 179);
    -size: 18;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M0 0 C4.23301121 2.82200747 7.17159664 5.95228992 8.8125 10.875 C9.18076224 16.49099916 9.02806007 20.05165989 5.8125 24.875 C1.88016191 28.85031446 -1.33209849 30.75333433 -7 31.125 C-11.71892223 31.03857285 -15.20192669 29.83910765 -18.6328125 26.4453125 C-22.45774286 22.05210677 -23.50490764 18.74295689 -23.3984375 12.9296875 C-22.91258058 8.19708116 -20.67007414 5.09459191 -17.1875 2.0625 C-11.77431523 -1.8846139 -6.19254468 -2.18560401 0 0 Z M-12.1875 7.875 C-12.1875 12.495 -12.1875 17.115 -12.1875 21.875 C-8.95353015 20.58141206 -6.30270147 19.47217733 -3.375 17.75 C-1.7971875 16.821875 -1.7971875 16.821875 -0.1875 15.875 C-0.1875 15.215 -0.1875 14.555 -0.1875 13.875 C-2.36501179 12.27722476 -2.36501179 12.27722476 -5.0625 10.75 C-5.96742187 10.21117187 -6.87234375 9.67234375 -7.8046875 9.1171875 C-10.03522022 7.7209107 -10.03522022 7.7209107 -12.1875 7.875 Z";
}

.media_play:hover {
    -fx-scale-x: 1.85;
    -fx-scale-y: 1.85;

    -icon-paint: rgba(255, 255, 255);
    -fx-background-color: rgba(255, 255, 255);

}

.media_pause {
    -icon-paint: rgba(179, 179, 179);
    -fx-background-color: rgba(179, 179, 179);
    -size: 18;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M0 0 C4.23301121 2.82200747 7.17159664 5.95228992 8.8125 10.875 C9.28692011 18.10990673 8.13341898 21.98953316 3.5 27.75 C-0.69896737 30.98890197 -5.74357773 30.612097 -10.82421875 30.4296875 C-15.68969336 29.6272515 -18.30363765 27.81095546 -21.1875 23.875 C-23.63141663 19.8372247 -23.76037482 15.49437156 -23.1875 10.875 C-21.32893173 5.60905656 -18.58435804 3.08104232 -14.1875 -0.125 C-9.20670617 -1.78526461 -4.88476371 -1.72403425 0 0 Z M-13.1875 7.875 C-13.1875 12.495 -13.1875 17.115 -13.1875 21.875 C-11.8675 21.875 -10.5475 21.875 -9.1875 21.875 C-9.1875 17.255 -9.1875 12.635 -9.1875 7.875 C-10.5075 7.875 -11.8275 7.875 -13.1875 7.875 Z M-5.1875 7.875 C-5.1875 12.495 -5.1875 17.115 -5.1875 21.875 C-3.8675 21.875 -2.5475 21.875 -1.1875 21.875 C-1.1875 17.255 -1.1875 12.635 -1.1875 7.875 C-2.5075 7.875 -3.8275 7.875 -5.1875 7.875 Z ";
}

.media_pause:hover {
    -fx-scale-x: 1.85;
    -fx-scale-y: 1.85;
    -icon-paint: rgba(255, 255, 255);
    -fx-background-color: rgba(255, 255, 255);

}

.media_slider {
    -default-track-color: -fx-control-inner-background;
    -track-color: -default-track-color ;

    -fx-pref-height: 2px;
}

.media_slider .track {
    -fx-pref-height: 3px;
    -fx-background-color: -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        -track-color;
}

.media_slider .track:hover {
    -fx-background-color: rgb(225, 225, 225); /* Set your desired thumb color here */
}

.media_slider .thumb:hover {
    -fx-background-color: rgb(225, 225, 225); /* Set your desired thumb color here */
}

/* BOX CONTAINERS ARTIST, ETC */
.box-container {
    -fx-background-color: rgb(24, 24, 24);
    -fx-background-radius: 10px;
}

.box-container:hover {
    -fx-background-color: rgb(40, 40, 40);
    -fx-cursor: hand;
}

.box-container:pressed {
    -fx-background-color: rgb(0, 0, 0);
}

.box-container:focused {
    -fx-background-color: rgb(35, 35, 35);
}

.artist_background {
    -fx-background-color: rgb(25, 25, 25);
}

